{% extends "designs/default_design.twig" %}

{% block page_title %}
	<a href="{{ path('index') }}">QA-Tools Showcase App</a> / Category Details
{% endblock %}

{% block content %}
	<h2>Category Name: "{{ category_name }}"</h2>
{% endblock %}
