{% extends "BEM/designs/inside_design.twig" %}

{% block page_title %}BEM Example{% endblock %}

{% block inside_content %}
	<div class="row">
		<div class="large-4 columns" class="b-sidebar">
			<div class="b-login_location_sidebar panel">
				<form method="post">
					{% if login_error|default(false) == true %}
						<small class="b-login__error-msg error">Invalid username or password</small>
					{% endif %}

					<label>E-mail or Username:</label>
					<input type="text" class="b-login__input-username" value=""/>

					<label>Password:</label>
					<input type="password" class="b-login__input-password_color_red" value=""/>

					<input type="submit" class="b-login__btn-login small button" name="events[u.login-sidebox][OnLogin]" value="Login"/>
				</form>
			</div>
		</div>

		<div class="large-8 columns">
			text
		</div>
	</div>
{% endblock %}
