{% extends "designs/default_design.twig" %}

{% block content %}
	<div class="row">
		<div class="large-12 columns b-header">
			<div class="row">
				<div class="large-8 columns">
					&nbsp;
				</div>

				<div class="large-2 columns">
					<label>
						Language:
						<select name="b-header__language">
							<option value="1">English</option>
							<option value="2">Russian</option>
						</select>
					</label>
				</div>

				<div class="large-2 columns">
					<label>
						Currency:
						<select name="b-header__curr-iso">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
						</select>
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<hr/>
		</div>

		{% block inside_content %}{% endblock %}
	</div>

	<div class="row">
		<div class="large-12 columns">
			<a href="{{ path('index') }}">Go to Homepage</a>
		</div>
	</div>
{% endblock %}
