<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>Example Application | QA-Tools</title>
		<link rel="stylesheet" href="{{ app.asset_path }}/css/foundation.min.css"/>
		<script src="{{ app.asset_path }}/js/vendor/modernizr.js"></script>
	</head>
	<body>
		<div class="row">
			<div class="large-12 columns">
				<h1>{% block page_title %}{% endblock %}</h1>
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns header b-header">
				<div class="row">
					<div class="large-8 columns">
						&nbsp;
					</div>

					<div class="large-2 columns">
						<label>
							Language:
							<select name="language" class="b-header__language">
								<option value="1">English</option>
								<option value="2">Russian</option>
							</select>
						</label>
					</div>

					<div class="large-2 columns">
						<label>
							Currency:
							<select name="currency" class="b-header__currency">
								<option value="USD">USD</option>
								<option value="EUR">EUR</option>
							</select>
						</label>
					</div>
				</div>

				<div class="row">
					<hr/>
				</div>
			</div>

			{% block content %}{% endblock %}
		</div>

		<script src="{{ app.asset_path }}/js/vendor/jquery.js"></script>
		<script src="{{ app.asset_path }}/js/foundation.min.js"></script>
		<script>
			$(document).foundation();
		</script>
	</body>
</html>
