{% extends "designs/default_design.twig" %}

{% block content %}
	<div class="row">
		<div class="large-4 columns" id="block-sidebar">
			<div id="login-sidebox" class="panel">
				<form method="post">
					{% if login_error|default(false) == true %}
						<small class="field-error error">Invalid username or password</small>
					{% endif %}

					<label>E-mail or Username:</label>
					<input type="text" name="u.login-sidebox[-2][UserLogin]" value=""/>

					<label>Password:</label>
					<input type="password" name="u.login-sidebox[-2][UserPassword]" value=""/>

					<input type="submit" class="small button" name="events[u.login-sidebox][OnLogin]" value="Login"/>
				</form>
			</div>
		</div>

		{% block inside_content %}{% endblock %}
	</div>

	<div class="row">
		<div class="large-12 columns">
			<a href="{{ path('index') }}">Go to Homepage</a>
		</div>
	</div>
{% endblock %}
